node_modules/

dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.env

/.cache
/.parcel-cache

*.tsbuildinfo

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

/sw.js

package-lock.json
yarn.lock
