
.Menublock-text {
    font-size: 0.8rem;
    margin: 0.2px 0;
    overflow: hidden;
    white-space: normal; /* 여러 줄로 표시 */
    text-align: center;
}

.first-text {
    font-size: 0.9rem; 
    font-weight: bold; 
    margin-bottom: 6px;
}
@media (min-width: 420px) {
    .Menublock-text {
      font-size: clamp(0.8rem, 3.3vw, 1.5rem); /* 최소 0.8rem, 최대 1.5rem */
    }
    
    .first-text {
      font-size: clamp(0.9rem, 3.8vw, 1.8rem); /* 최소 0.9rem, 최대 2rem */
    }
  }