.lesson-block {
  aspect-ratio: 49 / 30; /* 고정된 비율 설정 */
  width: 100%; /* 부모 열의 너비에 맞추어 가득 채우기 */
  max-height: calc(100% / 3 - 0.2rem); /* 최대 세로 3개 들어갈 수 있도록 높이 제한 */
  background-color: #a3d3c3;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0.1, 0.1, 0.15);
}

.lesson-block p {
  display: inline; /* 같은 줄 배치 */
}

.lesson-text {
  color: white;
}

.lesson-name {
  margin-top: 7px;
  margin-left: 5px;
  text-align: left;
  font-size: 10px;
}

.lesson-time {
  margin-top: -5px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 8px;
}

.lesson-place {
  margin-left: 23px;
  margin-bottom: 5px;
  font-size: 7px;
}