.block-square, 
.block-ToDo,
.block-search,
.block-point,
.block-scholarship,
.tag,
.price-min,
.price-max,
.department-item,
.lesson-list,
.all-memos-page,
.dropdown-item
{
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start; /* 텍스트를 위쪽부터 정렬 */
  color: black;
  box-shadow: 2px 4px 8px rgba(0, 0.1, 0.1, 0.15);
  padding: 10px;
  overflow: hidden; /* 텍스트가 넘치지 않도록 */
  box-sizing: border-box; /* 패딩과 보더를 크기 안에 포함 */
  flex-direction: column;
}

.block-square {
  aspect-ratio: 134.93 / 129; /* 정사각형 위젯의 비율 고정 */
  border-radius: 30px;
}

.block-ToDo {
  aspect-ratio: 280 / 280; /* 직사각형 위젯의 비율 고정 */
  padding-right: 10px; /* 오른쪽 패딩 명시적으로 설정 */
  border-radius: 10px;
}

.block-search{
  width:100%;
  height:60px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding : 5px;
  position: relative;
  display: flex; /* Flexbox 사용 */
  align-items: flex-start; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
}
.block-point{
  aspect-ratio: 280 / 100;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px;
  align-items: center;     /* 수직 중앙 정렬 */
}
.block-scholarship{
  aspect-ratio: 280 / 290;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  display: inline-flex; /* inline-flex로 설정하여 콘텐츠 크기에 따라 폭을 자동 조정 */
  align-items: center; /* 아이콘과 텍스트를 수직 가운데 정렬 */
  justify-content: space-between; /* 텍스트와 아이콘 간의 간격 유지 */
  padding: 0.2rem 0.4rem; /* 태그 내부 여백 */
  width:6rem;
  border-radius: 6px;
  font-size: 0.8rem;
  color: #333;
  
  height: auto; /* 높이를 콘텐츠 크기에 맞게 조정 */
  max-width: none; /* 최대 너비 제한을 제거 */
  flex-direction: row; /* 요소를 가로로 배치 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 (선택사항) */
}
.price-min {
  width: 80%;
  height: 55%;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* 위에서 아래로 배치 */
  align-items: center;    /* 가로 중앙 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
}
.department-item {
  aspect-ratio:250/26;
  border-radius: 10px;
}
.lesson-list{
  margin-top: 1rem;
  border-radius:10px;
  aspect-ratio: 280/450;
}
.all-memos-page {
  height:100%;
  max-width: 800px;
  
  border-radius: 15px;
}
.dropdown-item {
  display: flex; /* 한 줄 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  flex-direction: row;
  padding: 5px 15px; /* 내부 여백 */
  border-radius: 10px; /* 둥근 모서리 */
  cursor: pointer;
  background-color: white; /* 배경색 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
  margin: 5px 0; /* 위아래 여백 */
  font-size: 0.9rem; /* 글씨 크기 */
  line-height: 1.8; /* 줄 간격 */
}
