.menu-page {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu-item {
  font-size: 0.85rem;
  margin: 2px 0; /* 메뉴 간 간격을 줘서 더 보기 좋게 정렬 */
  color: #333333;
}

.menublock-text {
  font-size: 0.75rem; /* 폰트 크기 조정 */
  overflow: hidden;
  white-space: pre-line; /* 여러 줄로 표시 */
  text-align: center;
  margin: 0;
  color: #666666; /* 글자 색상 조정 */
}

.first-text {
  font-size: 0.85rem; 
  font-weight: bold; 
  margin-bottom: 6px;
  color: #333333; /* 날짜와 식사 종류를 강조 */
}
.slider-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 200%; /* 페이지 두 개라서 200% */
}

@media (min-width: 420px) {
    .Menublock-text {
      font-size: clamp(0.8rem, 3.3vw, 1.5rem); 
    }
    
    .first-text {
      font-size: clamp(0.9rem, 3.8vw, 1.8rem); 
    }
  }