.container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box;
}

.widget-gap {
  height: 15px; 
}

.main-text {
  font-size: 15pt;
  margin-bottom: 15px;
  color: #333;
  text-align: left;
  font-weight: bold;
}

.widget-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}
