.block-square {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #808080;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.block-rectangle {
  width: 100%;
  aspect-ratio: 319.2 / 365; /* 가로 세로 비율 */
  background-color: #808080;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

  
  