/* Header 전체 레이아웃 */
.header {
  height: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}

/* 왼쪽 아이콘 정렬 */
.header-left {
  display: flex;
  align-items: center;
}

/* 오른쪽 아이콘 정렬 */
.header-right {
  display: flex;
  gap: 10px; /* 아이콘 사이 간격 */
  align-items: center;
}