/* 아이콘 공통 스타일 */
.icon {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .icon:hover {
    transform: scale(1.1); /* 호버 시 아이콘 크기 약간 확대 */
  }
  

  .icon-large {
    font-size: 32px;
  }
  

  .icon-small {
    font-size: 24px;
  }
  
  
  .icon-black {
    color: black;
  }
  
  .icon-white {
    color: white;
  }
  
  /* 투명 버튼 */
  .transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .transparent-button:focus {
    outline: none; /* 포커스 시 outline 제거 */
  }
  